@font-face {
    font-family: 'Lexend Deca';
    src: url('../Lexend_Deca/static/LexendDeca-Regular.ttf'); 
}

html {
    background-image: linear-gradient(lightgrey, slategrey);
    min-height: 100%;
}

body {
    text-align: center;
    font-family: "Lexend Deca"
}

hr {
    color: black;
    border-style: solid;
}

div {
    width: fit-content;
    margin: auto;
    border-style: groove;
    border-color: lightgray;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}

label {
    display: block;
}

.unitnum {
    font-weight: bold;
}

.unitslot {
    border-style: none;
    display: inline-block;
}