@font-face {
    font-family: "Pollie";
    src: url("../pollie-font/Pollie-woWmZ.ttf");
}

html {
    height: 100%;
    font-family: "Pollie";
}

body {
    background: linear-gradient(to top, red, blue, red);
    background-attachment: scroll;
}

div {
    min-width: 25em;
    width: 80%;
    margin: 10px auto 5px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    background-color: rgb(220,220,220);
    font-family: monospace;
    letter-spacing: 1px;
    margin: auto;
}

thead {
    background-color: white;
}

tbody > tr {
    border: 1px solid rgb(30, 30, 30);
}

tbody > tr > * {
    display: table-cell;
    text-align: center;
    margin: auto;
    padding: 0.5em;
}