@font-face {
    font-family: "Pollie";
    src: url("../pollie-font/Pollie-woWmZ.ttf");
}

html {
    height: 100%;
    font-family: "Pollie";
    font-size: 120%;
}

body {
    background: linear-gradient(to top, red, blue, red);
    background-attachment: scroll;
    padding: 10px;
    text-align: center;
}

div:not(.flexitem):not(.statistic) {
    margin: 10px auto 5px auto;
    vertical-align: middle;
}

.flexcontainer {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.flexitem {
    flex: 0 0 auto;
}

.statsvalue {
    margin: 0;
    float: right;
    font: bold 125% monospace;
}

.statslabel {
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.statistic {
    width: fit-content;
    margin: 10px 0 10px 0;
}

table {
    min-width: 10em;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: monospace;
    background-color: rgba(220,220,220, 0.8);
    margin: auto;
}

thead {
    background-color: white;
}

tbody > tr {
    border: 1px solid rgb(30, 30, 30);
}

tbody > tr > * {
    display: table-cell;
    text-align: center;
    font-family: monospace;
    margin: auto;
    padding: 0.5em;
}

h1 {
    display: inline;
}

h2 {
    margin: 5px auto 10px auto;
}

button, input {
    font-size: 120%;
}

caption {
    background-color: white;
    border: inherit;
    font: bold 125% "Pollie";
}

#stats {
    padding: 0 10px 0 10px;
    border: 2px solid rgb(140 140 140);
    background-color: rgba(220,220,220, 0.8);
}

#titlebar {
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(200,200,200,0.8), rgba(255,255,255,0));
} 